@keyframes scalein100px {
    to {
        width: 100px;
        height: 100px;
    }
    from {
        width: 10px;
        height: 10px;
    }
}

.scalein100px {
    animation: scalein 1s ease;
}

@keyframes fadein100percent {
    to {
        opacity: 100%;
    }
    from {
        opacity: 0%;
    }
}

.fadein100percent {
    animation: fadein100percent 1s ease;
}